/* #region common */
@font-face {
    font-family: 'Gilroy';
    src: url('../css/fonts/Gilroy-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../css/fonts/Gilroy-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../css/fonts/Gilroy-Semibold.ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../css/fonts/Gilroy-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}

body{
background-color: #fbfbfb;
color: rgb(12, 12, 12, 0.7);
font-family: "Gilroy", sans-serif;
}

ul, ol{
    margin: 0;
    list-style-type: none;
    padding-left: 0;
}

h1, h2, h3, h4, h5, h5, h6, p{
    margin: 0;

}

a{
    text-decoration: none;
    color: currentColor;
}

img{
display: block;
max-width: 100%;
height: auto;
object-fit: cover;
}

button{
    font-family: inherit;
    cursor: pointer;
}
/* #endregion common */

/* #region header */
.container{
    max-width: 1180px;
    padding: 0 15px;
    margin: 0 auto;
}

.header-container{
    display: flex;
    justify-content: ;
}

.header {
    border-bottom: ;
}

.header-logo {
    font-weight: 500;
        font-size: 20px;
        letter-spacing: -0.02em;
        color: var(--main);
}

.header-nav {}

.header-nav-list {
    display: flex;
    gap: 40px;
}

.header-nav-item {}

.header-nav-link {
    padding-top: 30px;
    padding-bottom: ;
    font-weight: 500;
        font-size: 14px;
        line-height: 1.28;
        text-align: center;
        color: var(--main);
}

.header-social-list{
    display: flex;
    gap: 10px;
}
/* #endregion header */

/* #region home */
.text-decoration{
    color: #3350E9;
}

.home-main-wrapper{
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
}

.home-wrapper-left{}

.home-wrapper-right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}
/* #endregion home */

/* #region about */
/* #endregion about */

/* #region catalog */
/* #endregion catalog */


/* #region sale */
/* #endregion sale */

/* #region reviews */
/* #endregion reviews */

/* #region contact */
/* #endregion contact */

/* #region footer */
/* #endregion footer */